[data-md-color-scheme="claro"] {
    --md-primary-fg-color:        #1f1f1f !important;
    --md-accent-fg-color: #1f1f1f;
    --md-typeset-a-color: #2948C4
}

[data-md-color-scheme="slate"] {
    
    --md-primary-fg-color: #0071F0;
    --md-accent-fg-color:#0071F0;
    --md-default-bg-color: #000000;
    --md-typeset-a-color: !important;
    --md-typeset-table-color: rgba(255, 255, 255, 0.211);
    --md-typeset-table-color--light:     rgba(128, 128, 128, 0.301);
}

[data-md-color-scheme="slate"] .usecaseElement {
  filter: invert(100%);
}

body {
  text-align: justify;
}

p {
  text-indent: 1em;
}